version: '3'
services:
    apache:
        build: .docker/apache
        container_name: sf4_apache
        ports:
          - 80:80
        volumes:
          - .docker/config/vhosts:/etc/apache2/sites-enabled
          - ./var/www/html:/home/www/html
          - ./var/www/gibbon:/home/www/gibbon
          - ./var/log/apache2:/var/log/apache2
        depends_on:
          - php

    db:
        image: mariadb:10.3
        container_name: sf4_db
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: tiGGer44
            MYSQL_DATABASE: sf4
            MYSQL_USER: sf4
            MYSQL_PASSWORD: sf4

    php:
        build: .docker/php
        container_name: sf4_php
        volumes:
          - ./var/www/html:/home/www/html
          - ./var/www/gibbon:/home/www/gibbon
        depends_on:
        environment:
          - maildev_host=sf4_maildev
        depends_on:
          - maildev
          - db

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: sf4_phpmyadmin
        ports:
            - 8080:80
        links:
            - db
    maildev:
        image: djfarrelly/maildev
        container_name: sf4_maildev
        ports:
          - 8001:80

